.shop-container {
    /* background-color: aliceblue; */
    grid-area: 1 / 3 / 2 / 4;
    margin-top: 30rem;
}

.cube {
    width: 20rem;
    height: 20rem;
}

Button {
    margin-left: auto;
    margin-right: auto;
}

Button:hover {
    cursor: url("../../public/cursors/point_mouse.cur"), auto;
}

.info {
    background-color: rgba(0, 0, 0, 50%);
    border: solid white 2px;
    font-size: 3rem;
    margin-top: 3rem;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}