@media (max-width: 2160px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 6.6px;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 5px;
  }
}

.App {
  text-align: center;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 33.3% 33.3% 33.3%;
  min-width: 1024px;
}

body {
  position: relative;
  height: 100vh;
  cursor: url("../public/cursors/point.cur"), auto;
}

body:active {
  cursor: url("../public/cursors/point_click.cur"), auto;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/background.jpeg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

nav {
  background-color: #4A4A4A;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

nav *, nav *:hover {
  cursor: url("../public/cursors/point_mouse.cur"), auto;
}

.leftPart {
  grid-area: 1 / 1 / 2 / 2;
  margin-right: 2rem;
}

#image {
  width: 45rem;
  height: 45rem;
  margin-top: 20rem;
}

.message {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 50%);
  color: white;
  border: solid white 2px;
  font-size: 3rem;
}

.message:hover, label:hover {
  cursor: url("../public/cursors/point.cur"), auto;
}

.player {
  margin-top: 10rem;
  margin-left: 3rem;
}

audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-timeline, audio::-webkit-media-controls-volume-slider, audio::-webkit-media-controls-mute-button, audio::-webkit-media-controls-toggle {
  cursor: url("../public/cursors/point_mouse.cur"), auto;
}

.shop-container {
  grid-area: 1 / 3 / 2 / 4;
  margin-top: 20rem;
}

.cube {
  width: 20rem;
  height: 20rem;
}

Button {
  margin-left: auto;
  margin-right: auto;
}

Button:hover {
  cursor: url("../public/cursors/point_mouse.cur"), auto;
}

.info {
  background-color: rgba(0, 0, 0, 50%);
  border: solid white 2px;
  font-size: 3rem;
  margin-top: 3rem;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}